n-epochs    = 25        # number of epochs
lr          = 0.0003    # learning rate
patience    = 1         # early stopping; number of epochs, no improvement
min-delta   = 0.0       # minimum change to qualify as an improvement
smoothing   = 0.1       # amount of label smoothing (regularization)
max-length  = 256       # maximum sentence length during training
batch-size  = -1        # -1 to fill available device memory (CUDA)
beam-width  = 5         # 1 for greedy search, otherwise beam search